<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>com.vcubserver.UpdateVcub</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteDb</servlet-name>
		<servlet-class>com.vcubserver.DeleteDb</servlet-class>
	</servlet> 
        <servlet>
			<servlet-name>RestletServlet</servlet-name>
			<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
			<init-param>
				<param-name>org.restlet.application</param-name>
				<param-value>com.vcubserver.VcubServer</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>DeleteDb</servlet-name>
		<url-pattern>/clean</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>RestletServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
